<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473922198316-0puag847s1ib8dq88j1vjmr9ihkv38v0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473922198316-0puag847s1ib8dq88j1vjmr9ihkv38v0</string>
	<key>API_KEY</key>
	<string>AIzaSyBfcz9ae7S1ViJdclTi9VIl-NI42ljXfog</string>
	<key>GCM_SENDER_ID</key>
	<string>473922198316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>fitness-1be6b</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-1be6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473922198316:ios:a1f0f4c6d519f8e6f62a89</string>
</dict>
</plist>